In [806]:
import pandas as pd
import numpy as np
import random

In [807]:
df = pd.read_excel("./oh_preferred_time.xlsx", index_col=0)
df

,월요일,화요일,수요일,목요일,금요일
2교시,"권민주, 김다연, 박어진","고두연, 문서형, 박소영, 한규용","길도흔, 이종서, 공재혁, 황철현","구재영, 정세인",고두연
3교시,"길도흔, 강민창, 김정호, 안시은, 공재혁, 황철현","길도흔, 김정호, 고두연, 정세인, 한규용, 황철현","길도흔, 이종서, 김정호, 김현진, 공재혁","길도흔, 곽다연, 김정호, 권민주, 공재혁, 정다윤, 황철현","고두연, 정윤성"
4교시,"길도흔, 김정호, 김현진, 안시은, 조해인, 고두연, 박소영, 한규용, 공재혁, 김시원","길도흔, 김정호, 한규용","길도흔, 이종서, 김정호, 한수민, 권민주, 공재혁, 김시원, 황철현","강민창, 김정호, 권민주, 김찬유, 정윤성, 공재혁, 정다윤","고두연, 정윤성, 한규용"
5교시,"길도흔, 고두연, 권민주, 김찬유, 문서형, 박소영, 박어진, 황철현","길도흔, 곽다연, 김정호, 김현진, 정윤성","길도흔, 이종서, 김정호, 고두연, 권민주, 김다연, 김찬유, 문서형, 박소영, 박...","김정호, 이가은, 박소영, 정윤성","이종서, 강민창, 한수민"
6교시,"고두연, 길도흔","곽다연, 이가은, 정윤성","길도흔, 이종서, 고두연, 권민주, 김찬유, 문서형, 박소영, 박어진, 정세인, 한...","구재영, 이가은, 고두연, 정윤성, 한규용",이종서

각 element의 '컴마로 구분된 이름들'을 '이름들의 list'로 변환

In [808]:
for index, row in df.iterrows():
    for day in df.columns:
      comma_separated_value = row[day].replace(" ", "")
      value_array = comma_separated_value.split(",")
      df.loc[index, day] = value_array

In [809]:
def find_min_index(df):
  len_df_values = df.values # 데이터프레임을 넘파이 배열로 변환
  try:
    min_length = np.min(len_df_values[len_df_values > 0]) # 0보다 큰 요소들 중 최솟값 구하기
  except:
    return False

  for index, row in df.iterrows():
      for day in df.columns:
        if row[day] == min_length:
          return (day, index)

In [810]:
def get_len_df(df):
  copied_df = df.copy()
  for index, row in copied_df.iterrows():
    for day in copied_df.columns:
      copied_df.loc[index, day] = len(row[day])
  return copied_df

In [811]:
df

,월요일,화요일,수요일,목요일,금요일
2교시,"[권민주, 김다연, 박어진]","[고두연, 문서형, 박소영, 한규용]","[길도흔, 이종서, 공재혁, 황철현]","[구재영, 정세인]",[고두연]
3교시,"[길도흔, 강민창, 김정호, 안시은, 공재혁, 황철현]","[길도흔, 김정호, 고두연, 정세인, 한규용, 황철현]","[길도흔, 이종서, 김정호, 김현진, 공재혁]","[길도흔, 곽다연, 김정호, 권민주, 공재혁, 정다윤, 황철현]","[고두연, 정윤성]"
4교시,"[길도흔, 김정호, 김현진, 안시은, 조해인, 고두연, 박소영, 한규용, 공재혁, ...","[길도흔, 김정호, 한규용]","[길도흔, 이종서, 김정호, 한수민, 권민주, 공재혁, 김시원, 황철현]","[강민창, 김정호, 권민주, 김찬유, 정윤성, 공재혁, 정다윤]","[고두연, 정윤성, 한규용]"
5교시,"[길도흔, 고두연, 권민주, 김찬유, 문서형, 박소영, 박어진, 황철현]","[길도흔, 곽다연, 김정호, 김현진, 정윤성]","[길도흔, 이종서, 김정호, 고두연, 권민주, 김다연, 김찬유, 문서형, 박소영, ...","[김정호, 이가은, 박소영, 정윤성]","[이종서, 강민창, 한수민]"
6교시,"[고두연, 길도흔]","[곽다연, 이가은, 정윤성]","[길도흔, 이종서, 고두연, 권민주, 김찬유, 문서형, 박소영, 박어진, 정세인, ...","[구재영, 이가은, 고두연, 정윤성, 한규용]",[이종서]

요일별 교시 희망인원의 수

In [812]:
get_len_df(df)

    월요일 화요일 수요일 목요일 금요일
2교시   3   4   4   2   1
3교시   6   6   5   7   2
4교시  10   3   8   7   3
5교시   8   5  13   4   3
6교시   2   3  11   5   1

greedy algorithm 이기 때문에 결과가 시행할 때마다 바뀔 수 있음.

In [813]:
temp_df = df.copy() # init
allocated = [] # 배정된 인원을 담은 리스트

while True:
  len_df = get_len_df(temp_df)

  if find_min_index(len_df):
    day, index = find_min_index(len_df)
    min_element = temp_df[day][index].copy()
    random_index = random.randint(0, len(min_element) - 1)  # 무작위 인덱스 선택
    popped_element = min_element.pop(random_index)
    print(day, index, min_element, popped_element)
    allocated.append(popped_element)
    temp_df[day][index] = []
    df[day][index] = popped_element

    for index, row in temp_df.iterrows():
      for day in temp_df.columns:
        temp_list = temp_df.loc[index, day].copy()
        if popped_element in temp_list:
          temp_list.remove(popped_element)
          temp_df.loc[index, day] = temp_list
    
  else:
    current = temp_df
    break

current

금요일 2교시 [] 고두연
금요일 3교시 [] 정윤성
금요일 4교시 [] 한규용
월요일 6교시 [] 길도흔
화요일 4교시 [] 김정호
금요일 6교시 [] 이종서
화요일 2교시 ['박소영'] 문서형
수요일 2교시 ['공재혁'] 황철현
화요일 3교시 [] 정세인
목요일 2교시 [] 구재영
목요일 6교시 [] 이가은
목요일 5교시 [] 박소영
화요일 6교시 [] 곽다연
화요일 5교시 [] 김현진
수요일 3교시 [] 공재혁
월요일 3교시 ['안시은'] 강민창
금요일 5교시 [] 한수민
목요일 3교시 ['정다윤'] 권민주
수요일 4교시 [] 김시원
월요일 2교시 ['김다연'] 박어진
월요일 5교시 [] 김찬유
목요일 4교시 [] 정다윤
수요일 5교시 [] 김다연
수요일 6교시 [] 조해인
월요일 4교시 [] 안시은

    월요일 화요일 수요일 목요일 금요일
2교시  []  []  []  []  []
3교시  []  []  []  []  []
4교시  []  []  []  []  []
5교시  []  []  []  []  []
6교시  []  []  []  []  []

배정인원과 시행 결과 출력

In [814]:
print(len(allocated))
allocated

25

['고두연',
 '정윤성',
 '한규용',
 '길도흔',
 '김정호',
 '이종서',
 '문서형',
 '황철현',
 '정세인',
 '구재영',
 '이가은',
 '박소영',
 '곽다연',
 '김현진',
 '공재혁',
 '강민창',
 '한수민',
 '권민주',
 '김시원',
 '박어진',
 '김찬유',
 '정다윤',
 '김다연',
 '조해인',
 '안시은']

배정표

In [815]:
df

     월요일  화요일  수요일  목요일  금요일
2교시  박어진  문서형  황철현  구재영  고두연
3교시  강민창  정세인  공재혁  권민주  정윤성
4교시  안시은  김정호  김시원  정다윤  한규용
5교시  김찬유  김현진  김다연  박소영  한수민
6교시  길도흔  곽다연  조해인  이가은  이종서

배정표를 엑셀로 내보내기

In [816]:
df.to_excel('allocation.xlsx')